*{
    font-size: 50px;
    
}

.frame {
    width: 400px;
}
.display {
    height: 80px;
    text-align: right;
}
.buttons > *{
    display: flex;

}

.buttons {
    display: flex;
    flex-direction: column;
    flex-grow: 100;
    flex-shrink: 0;
}

button[value ="1"], button[value ="2"], button[value ="3"],
button[value ="4"],button[value ="5"], button[value ="6"], button[value ="7"],
button[value ="8"],button[value ="9"], button[value ="0"],
button[value ="="], button[value ="back"]{
   flex-grow: 100;
   flex-shrink: 0;
}



button[value ="/"],button[value ="*"], button[value ="-"], button[value ="+"], button[value ="."]{
   width: 100px;
   flex-shrink: 0;
}

button[value ="C"] {
    width: 100px;
}